* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 44px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 76px;
}

.link-header {
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer; /* Serve para colocar a mãozinha em cima do link */
    margin-right: 23px;
    text-transform: uppercase;
}

.button-header {
    background: #665AE1;
    border-radius: 20.5px; /* Deixa o botão mais arredondado */
    width: 130px;
    height: 41px;
    border: none; /* Deixando sem borda -- none --> NÃO */
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600px;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}

.logo-image {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
    margin-right: 86px;
}

section {
    display: inline-block;
}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.button-main {
    background: #4DFF00;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    border: none;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25)); /* Deixa sombra no botão */
    font-size: 28px;
    font-weight: bolder;
    line-height: 34px;
    color: #000000;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    header {
        display: none;
    }

    p {
        display: none;
    }

    .logo-image {
        display: block;
        margin: 58px auto 0px;
        width: 100%;
        height: 300px;
    }

    section {
        display: block;
        margin: 0;
        width: 100%;
    }

    h1 {
        font-size: 50px;
        text-align: center;
        line-height: 50px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        line-height: 100%;
    }

    .button-main {
        display: block;
        margin: 30px auto;
    }
}